{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'app_recipes/css/base_style.css' %}">
</head>
<body>
    <div id="header">
        <div class="head-buttons" onclick="window.location.href='/'">Главная</div>
        <div class="head-buttons" onclick="window.location.href='/product_list'">Список продуктов</div>
        <div class="head-buttons" onclick="window.location.href='/'">Личный кабинет</div>
    </div>


    <div id="wrapper">

        <div class="block-content" id="wrapper-head">
            {% block wrapper_head %}
            {% endblock %}
        </div>



        <div class="block-content" id="left-bar">

            <div id="left-bar-head">
                {% block left_bar_head %}
                {% endblock %}
            </div>

            {% block right_bar %}
            {% endblock %}
        </div>


        <div class="block-content" id="content">
            {% block content %}
            {% endblock %}
        </div>


        <div class="block-content" id="right-bar">
            <div id="right-bar-head">
                {% block right_bar_head %}
                {% endblock %}
            </div>
            {% block left_bar %}
            {% endblock %}
        </div>

    </div>

    <div id="footer">
        <div id="footer-contacts"></div>
    </div>
</body>
</html>